@font-face {
  font-family: "glitch";
  src: url("assets/fonts/Glitch.otf");
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Playfair+Display&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.game {
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #d55a79ee;
  color: #eae0d5;
  width: 600px;
  max-width: 900px;
  min-width: 400px;
  min-height: 100px;
  height: 700px;
}
.titre_jeux {
  height: 150px;
}
.titre_chapitre {
  font-family: "Playfair Display", serif;
  font-size: 30px;
}
.text_jeux {
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding-bottom: 20px;
}
img {
  max-height: 400px;
  max-width: 400px;
}
.boutons {
  color: #eae0d5;
  display: flex;
  justify-content: space-evenly;
}
button:hover,
.reset:hover {
  background-color: #e4244a87;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
button,
.reset {
  letter-spacing: 0.1px;
  word-spacing: 0px;
  background-color: #1d2128;
  color: #eae0d5;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #000000;
  font-size: 16px;
}
.reset {
  right: 0;
  position: absolute;
}
.btnRst {
  position: absolute;
  top: 5px;
  width: 100%;
  padding: 10px;
}
label {
  color: #eae0d5;
  background-color: #1d2128;
}

video {
  width: 100%;
}
